/* buttons shape */
@mixin btnGreen {
  background-color: $main-cyan;
  border-radius: 2rem;
  padding: 1rem;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 2px 3px rgba($color: $main-black-50, $alpha: 0.75);
  transition: box-shadow 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: 0 0.5rem;
  font-weight: bold;

  &:hover {
    box-shadow: 0px 2px 6px rgba($color: #555555, $alpha: 1);
  }
}

@mixin elementBefore {
  content: "";
  background: no-repeat center;
  height: 5vh;
  width: 5vh;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  position: absolute;
}

@mixin hideElemenet {
  animation: hide 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @keyframes hide {
    from {
      visibility: visible;
      opacity: 1;
      display: block;
    }

    to {
      visibility: hidden;
      opacity: 0;
      display: block;
    }
  }
}

@mixin showElemenet {
  animation: show 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @keyframes show {
    from {
      visibility: hidden;
      opacity: 0;
    }

    to {
      visibility: visible;
      opacity: 1;
    }
  }
}
