/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

$font-main: "Commissioner", sans-serif;
$font-size: 16px;

/* Colors */

$main-cyan: hsl(176,50%,47%);
$main-cyan-dark: hsl(176,72%,28%);
$main-black: hsl(0,0%,0%);
$main-black-50: hsl(0,0%,48%);

/* RESET */
*,*::before,*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-family: $font-main;
  font-size: $font-size;
}
